build/
dist/
.vs*/
extern/
cmake/
cmake/*
extern/*
include/json/
CMakeUserPresets.json
DynamicContainerInventoryFramework.code-workspace
include/containerCache.DISABLE_h
include/containerManager_ORIG.DISABLE_h
src/containerCache.DISABLE_cpp
src/containerManager_ORIG.DISABLE_cpp




### for creating PR


include/PreventInBuildInstalls.cmake
include/PreventInSourceBuilds.cmake


.gitattributes

.gitignore
.gitmodules

*.bat

COPYING
EXCEPTIONS.md
LICENSE
ProjectGen.py



include/PCH.h
include/AliasSKSE.h
include/AliasRust.h
include/CMakeLists.txt

.clang-format
.clang-format-ignore

CMakeLists.txt
CMakePresets.json
CMakeUserPresets.json.template

README.md
vcpkg.json
